<p>Dear {{ user.full_name }},</p>
</br>

{% block intro %}{% endblock intro %}
<p>
  <ul>
    <li>Flavor: reservation:{{ reservation.compute_flavor }}</li>
    <li>Start date: {{ reservation.start }} UTC</li>
    <li>End date: {{ reservation.end }} UTC</li>
  </ul>
</p>

{% block main %}{% endblock main %}
</br>
<p>
  For more information, please check out our <a href="https://support.ehelp.edu.au/support/solutions/articles/6000258960-nectar-gpu-large-memory-reservation-service">Support Site</a>.</br/>
  If you have any questions, please reach out by replying to this email.
</p>
</br>
{% block footer %}{% endblock footer %}
</br>
<p>
  Kind Regards,
  <br />
  Nectar Research Cloud Team.
</p>
