{% extends 'base.tmpl' %}

{% block intro %}
<p>
  Your Nectar Research Cloud instance reservation is approaching its end date. Your reservation information is as below:
</p>
{% endblock intro %}

{% block main %}
<p>
  Please be reminded that your instance will be automatically <b>DELETED</b> at the end date and any data not backed up will be DELETED.
  If you don't require the instance any more, please backup your data BEFORE {{ reservation.end }} UTC.
</p>

<p>
We strongly recommend attaching an external volume to your instance for saving any important data,
as this will persist once your reservation expires. If you are not saving your data on an external
volume or backing it up elsewhere, you data will be DELETED once the reservation expires.
</p>

{% endblock main %}
