{% extends 'base.tmpl' %}

{% block intro %}
<p>
  You have successfully reserved an instance on the Nectar Research Cloud. Here are your reservation details:
</p>
{% endblock intro %}
{% block main %}
<p>
  You don't need to do anything at the moment. We'll send you another email when your reservation is active.
</p>
<p>
  Your reserved instance will be <b>DELETED</b> at the end date.
</p>
{% endblock main %}
