{% extends 'base.tmpl' %}

{% block intro %}
<p>
  Your instance reservation on the Nectar Research Cloud has ended and your instance has now been automatically deleted.
</p>
{% endblock intro %}

{% block main %}

{% endblock main %}
