{% extends 'base.tmpl' %}

{% block intro %}
<p>
  Your instance reservation on the Nectar Research Cloud has ended and your instance has now been automatically deleted.
</p>
{% endblock intro %}

{% block main %}

{% endblock main %}

{% block footer %}
<p>
 Is there something we can do to improve your experience using the reservation service? We would like to hear about it! You can provide your feedback by completing this <a href="https://docs.google.com/forms/d/e/1FAIpQLSddgKesBdril36Xk-VkVF4ejazbUM5i82DelJDQbNCt1d9IWg/viewform">feedback form</a>.
</p>
{% endblock footer %}
