{% extends 'base.tmpl' %}

{% block intro %}
<p>
  Your instance reservation on the Nectar Research Cloud is now active. Here are your reservation details:
</p>
{% endblock intro %}

{% block main %}
<p>
  The above mentioned flavor will now be available and you can login to the
  <a href="https://dashboard.rc.nectar.org.au">Nectar dashboard</a> to launch your reserved instance.
</p>

{% endblock main %}
